.bright-bold{
    font-family: "Apple Chancery";
    font-weight: bold;
    color: #8B4513;
}

textarea{
    width: 100%;
    height: 100px;
}

span.title {
    color: #FFB266;
    font-weight: bold;
}