ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li  {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
p #battleTitle{
    display:block;
    margin:0 auto;
}

body {
    background-color: gold;
}
.gameContent{
    background-image: url('./img/pokemonGameImages/battleArena.png');
    height:500px;
}

.battleTitle {
    text-align: center;
}

#player1 {
    float: left;
    width:40%;
}
#vs{
    float: left;
    width:20%;
    padding-top: 40px;
}
#player2 {
    float: right;
    width:40%;
}

#fightButton {
    background: #3934d9;
    background-image: -webkit-linear-gradient(top, #3934d9, #2b53b8);
    background-image: -moz-linear-gradient(top, #3934d9, #2b53b8);
    background-image: -ms-linear-gradient(top, #3934d9, #2b53b8);
    background-image: -o-linear-gradient(top, #3934d9, #2b53b8);
    background-image: linear-gradient(to bottom, #3934d9, #2b53b8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    visibility: hidden;
}

#fightButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #4734d9);
    background-image: -moz-linear-gradient(top, #3cb0fd, #4734d9);
    background-image: -ms-linear-gradient(top, #3cb0fd, #4734d9);
    background-image: -o-linear-gradient(top, #3cb0fd, #4734d9);
    background-image: linear-gradient(to bottom, #3cb0fd, #4734d9);
    text-decoration: none;
}