body{
    background-color: rgb(204, 255, 229);
}

div #event-controls img {
    display:block;
    margin: 10px auto;
    border-bottom: 2px solid rgb(0,153,153);
}

textarea#console {
    width: 450px;
    border-radius: 5px;
    background-color: rgb(224, 255, 249);
    display: block;
    margin: 0 auto;
    padding: 6px;
    height:200px;
    font-size: 12px;
}

button#button, button#color-changer {
    display: block;
    margin: 10px auto;
    background-color: rgb(0,153,153);
    border: 1px solid rgb(0,153,153);
    color: white;
    border-radius: 2px;
    padding: 8px 20px;
    font-size: 16px;
}

div.inputs{
    width: 450px;
    margin: 6px auto;
}

form p.form-elements {
    width: 450px;
    margin: 0 auto;
    border-top: 2px solid rgb(0, 153, 153);
}

div.inputs label, div.inputs input {
    min-width: 225px;
    display: inline-block;
    box-sizing: border-box;
}

div#space {
    border-top: 2px solid rgb(0,153,153);
    width:100%;
    background-color: white;
}








